{% extends 'empleados/base.html' %}
{% load static %}

{% block main %}
<div>
    {% if perms.gerente.add_movie %}
        <a href="{% url 'crear_gerente' %}" class="m-2 btn btn-primary">Crear gerente</a>
    {% endif %}
</div>
{% if object_list %}
    <div class="row">
        {% for gerente in object_list %}
            <div class="card m-2" style="width: 18rem;" >
                <div class="card-body">
                    <h5 class="card-title">{{ gerente.nombre }} {{ gerente.apellido }}</h5>
                    <p class="card-text">salario: {{ gerente.salario }}</p>
                    <a href="{% url 'empleados:mostrar_gerente' empleado.id %}" class="btn btn-primary">Ver</a>
                    <a href="{% url 'empleados:editar_empleado' gerente.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'empleados:eliminar_gerente' gerente.id %}" class="btn btn-primary">Borrar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="card" style="width: 18rem;" >
        <div class="card-body">
            <p class="card-text">No se encontraron datos.</p>
        </div>
    </div>
{% endif %}

{% endblock main %}