{% extends 'empleados/base.html' %}
{% load static %}

{% block main %}
<div>        
    {% if perms.gerente.add_movie %}
        <a href="{% url 'listado_gerente' %}" class="m-2 btn btn-primary">Listar gerente</a>
    {% endif %}

</div>
{% if gerente %}
    <div class="row">
        <div class="card m-2" style="width: 18rem;" >
            <div class="card-body">
                <h5 class="card-title">Nombre: {{ gerente.nombre }} </h5>
                <h5 class="card-title">Apellido: {{ gerente.apellido }}</h5>
                <p class="card-text">Salario: {{ gerente.salario }}</p>
                <p class="card-text">Departamento: {{ gerente.departamento }}</p>
            </div>
        </div>
    </div>
{% else %}
    <div class="card" style="width: 18rem;" >
        <div class="card-body">
            <p class="card-text">No se encontraron datos.</p>
        </div>
    </div>
{% endif %}
{% endblock main %}