{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Empleados</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div id="container">
        <header>
            <!-- <img class="imgNav" src="{% static '/img/personal1'}" alt="Descripción de la imagen"> -->
            <h2 class="TituloNav">Sistema de Gestión de Empleados</h2>
        </header>
        <nav>
            <ul>
                <li>
                    <form action="{% url 'empleados:index' %}">
                        <input type="submit" value="página principal" />
                    </form>
                </li>
                <li>
                    <form action="{% url 'empleados:insert' %}">
                        <input type="submit" value="insertar datos" />
                    </form>
                </li>
                <li>
                    <form action="{% url 'empleados:search' %}">
                        <input type="submit" value="buscar" />
                    </form>
                </li>
            </ul>
        </nav>

        <div class="clearfix"></div>
        <div id="content">
            {% block content %}
            <article class="article">
                <h2>titulo del articulo</h2>
                <p>parrafo del articulo</p>
            </article>
            
            {% endblock %}
        </div>

        <!-- <section id="content1">
            

        </section> -->

        <div class="clearfix"></div>
        
        <footer>
            <p>Derechos de autor &copy; 2023</p>
        </footer>


    

    </div>


</body>
</html>