{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Empleados</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div id="container">
        <header>
            <h2 class="TituloNav">Sistema de Gestión de Empleados</h2>
        </header>
        <div class="nav">
            <ul>
                <li><a href="{% url 'empleados:index' %}">Inicio</a></li>
                <li><a href="{% url 'empleados:search' %}">Buscar</a></li>
                <li><a href="">Empleados</a>
                    <ul>
                        <li><a href="{% url 'empleados:listado_empleados' %}">listar empleados</a></li>
                        <li><a href="{% url 'empleados:crear_empleado' %}">crear empleado</a></li>
                    </ul>
                </li>
                <li><a href="">Gerentes</a>
                    <ul>
                        <li><a href="{% url 'empleados:listado_gerentes' %}">listar Gerentes</a></li>
                        <li><a href="{% url 'empleados:crear_gerente' %}">crear Gerente</a></li>
                    </ul>
                </li>
                <li><a href="">Desarrolladores</a>
                    <ul>
                        <li><a href="{% url 'empleados:listado_desarrolladores' %}">listar Desarrolladores</a></li>
                        <li><a href="{% url 'empleados:crear_desarrollador' %}">crear Desarrollador</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="clearfix"></div>
        
        <div id="content">
            {% block main %}
            {% block content %}
            <article class="article">
                <h2>Sobre nosotros</h2>
                <p>Esta es una pagina creada para cualquier empresa con el fin de poder llevar una lista de los empleados, gerentes y desarrolladores que dependen de su empresa</p>
                <img class="img" src="{% static 'img/gestion-de-empleados.png' %}" alt="10px">
            </article>
            <article class="article">
                <h2>Sobre nosotros</h2>
                <p>Esta es una pagina creada para cualquier empresa con el fin de poder llevar una lista de los empleados, gerentes y desarrolladores que dependen de su empresa</p>
            </article>
            
            {% endblock %}
            {% endblock main %}
        </div>


        <div class="clearfix"></div>
        
        <footer>
            <p>Derechos de autor &copy; 2023</p>
        </footer>


    

    </div>


</body>
</html>